In [87]:
#print A pattern in  "*"
for row in range(6):
    for col in range (5):
        if ((col==0 or col==4) and row!=0) or (row==0 or row==3) and (col>0 and col<4):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
*   *
*   *
*****
*   *
*   *

In [103]:
#print B pattern in  "*"
for row in range (7):
    for col in range(7):
        if (col==0 or (col==6 and row!=0 and row!=3 and row!=6)) or ((row==0 and col!=6) or (row==3 and col<6) or (row==6 and col!=6)) :
            print("*",end="")
        else:
            print(end=" ")
    print()

******
*     *
*     *
******
*     *
*     *
******

In [104]:
#print c pattern in  "*"
for row in range (6):
    for col in range(5):
        if ((col==0 and row!=0 and row!=5) or col==5) or ((row==0 and col!=0) or (row==5 and col!=0)):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ****
*
*
*
*
 ****

In [117]:
#print D pattern in  "*"
for row in range (7):
    for col in range(7):
        if (col==0 or (col==6 and row!=0  and row!=6)) or ((row==0 and col!=6)  or (row==6 and col!=6)) :
            print("*",end="")
        else:
            print(end=" ")
    print()

******
*     *
*     *
*     *
*     *
*     *
******

In [110]:
#print E pattern in  "*"
for row in range (7):
    for col in range(7):
        if col==0 or row==0 or row==3 or row==6 :
            print("*",end="")
        else:
            print(end=" ")
    print()

*******
*
*
*******
*
*
*******

In [114]:
#print F pattern in  "*"
for row in range (7):
    for col in range(7):
        if col==0 or row==0 or row==3  :
            print("*",end="")
        else:
            print(end=" ")
    print()

*******
*
*
*******
*
*
*

In [127]:
#print G pattern in  "*"
for row in range (9):
    for col in range(10):
        if (col==0 and row!=0 and row!=6 and row!=7 and row!=8) or (row==0 and col!=0 and col<8) or (row==6 and col!=0 and col!=6 and col<7)  or (row==5 and col>4 ) or (col==9 and row>5)  :
            print("*",end="")
        else:
            print(end=" ")
    print()

 *******
*
*
*
*
*    *****
 *****   *
         *
         *

In [128]:
#print H pattern in  "*"
for row in range (7):
    for col in range(7):
        if col==0 or col==6 or row==3  :
            print("*",end="")
        else:
            print(end=" ")
    print()

*     *
*     *
*     *
*******
*     *
*     *
*     *

In [129]:
#print I pattern in  "*"
for row in range (7):
    for col in range(7):
        if row==0 or row==6 or col==3  :
            print("*",end="")
        else:
            print(end=" ")
    print()

*******
   *
   *
   *
   *
   *
*******

In [139]:
#print J pattern in  "*"
for row in range (10):
    for col in range(12):
        if (col==0 and row!=9 and row>6) or (col==9 and row!=9) or (row==9 and col!=0 and col<8 ) or (row==0 and col>3 ) :
            print("*",end="")
        else:
            print(end=" ")
    print()

    ********
         *
         *
         *
         *
         *
         *
*        *
*        *
 *******

In [157]:
#print K pattern in  "*"
i=8
for row in range (11):
    for col in range(9):
        if col==0 or (row==col+2 and col>1 and row>4)  :
            print("*",end="")
        elif row==i-col:
            print("*",end="")
            i=i-1
        else:
            print(end=" ")
    print()

*       *
*     *
*   *
* *
*
*  *
*   *
*    *
*     *
*      *
*       *

In [160]:
#print L pattern in  "*"
i=8
for row in range (10):
    for col in range(7):
        if col==0 or row==9   :
            print("*",end="")
        else:
            print(end=" ")
    print()

*
*
*
*
*
*
*
*
*
*******

In [168]:
#print M pattern in  "*"
i=9
for row in range (7):
    for col in range(10):
        if col==0 or col==9 or (row==col and row <4) :
            print("*",end="")
        elif (row==i-col and row<4):
            print("*",end="")
            i=i-1
        else:
            print(end=" ")
    print()

*        *
**      **
* *   *  *
*  **    *
*        *
*        *
*        *

In [172]:
#print N pattern in  "*"
for row in range (7):
    for col in range(7):
        if col==0 or col==6 or (row==col) :
            print("*",end="")
        else:
            print(end=" ")
    print()

*     *
**    *
* *   *
*  *  *
*   * *
*    **
*     *

In [184]:
#print O pattern in  "*"
for row in range (7):
    for col in range(7):
        if (col==0 and row>0 and row<6) or (col==6 and row>0 and row<6) or (row==0 and col!=0 and col!=6) or (row==6 and col!=0 and col!=6) : 
            print("*",end="")
        else:
            print(end=" ")
    print()

 *****
*     *
*     *
*     *
*     *
*     *
 *****

In [188]:
#print P pattern in  "*"
for row in range (7):
    for col in range(7):
        if col==0 and row!=0 or col==6 and row!=0 and row!=3 and row<4 or row==3 and col!=6 and col!=1 or row==0 and col!=0 and col!=6 :
            print("*",end="")
        else:
            print(end=" ")
    print()

 *****
*     *
*     *
* ****
*
*
*

In [190]:
#print Q pattern in  "*"
for row in range (9):
    for col in range(7):
        if (col==0 and row>0 and row<6) or (col==6 and row>0 and row<6) or (row==0 and col!=0 and col!=6) or (row==6 and col!=0 and col!=6) or row==7 and col==5 or row==8 and col==6 : 
            print("*",end="")
        else:
            print(end=" ")
    print()

 *****
*     *
*     *
*     *
*     *
*     *
 *****
     *
      *

In [193]:
#print R pattern in  "*"
for row in range (7):
    for col in range(7):
        if col==0 or col==6 and row!=0 and row!=3 or row==0 and col!=6 or row==3 and col<6 :
            print("*",end="")
        else:
            print(end=" ")
    print()

******
*     *
*     *
******
*     *
*     *
*     *

In [194]:
#print V pattern in  "*"
for row in range (7):
    for col in range(7):
        if col==0 and  row!=0 and row<3 or col==6 and row!=6 and row>3 or row==0 and col!=0 and col!=6 or row==3 and col!=0 and col!=6 or row==6 and col!=0 and col!=6 :
            print("*",end="")
        else:
            print(end=" ")
    print()

 *****
*
*
 *****
      *
      *
 *****

In [195]:
#print T pattern in  "*"
for row in range (7):
    for col in range(7):
        if col==3 or row==0  :
            print("*",end="")
        else:
            print(end=" ")
    print()

*******
   *
   *
   *
   *
   *
   *

In [200]:
#print U pattern in  "*"
for row in range (7):
    for col in range(7):
        if col==0 and row!=0 and row!=6  or col==6 and row!=6 and row!=0 or row==6 and col!=0 and col!=6 :
            print("*",end="")
        else:
            print(end=" ")
    print()

*     *
*     *
*     *
*     *
*     *
 *****

In [210]:
#print V pattern in  "*"
i=0
j=12
for row in range (7):
    for col in range(13):
        if (row==col):
            print("*",end="")
        elif row==i and col==j:
            print("*",end='')
            i=i+1
            j=j-1
        else:
            print(end=" ")
    print()

*           *
 *         *
  *       *
   *     *
    *   *
     * *
      *

In [235]:
#print W pattern in  "*"
i=0
j=12
for row in range (7):
    for col in range(7):
        if col==0 or col==6 or col==3 and row==3 or col==4 and row==4 or col==5 and row==5 or col==6 and row==6 or row==5 and col==1 or row==4 and col==2:
            print("*",end="")
        else:
            print(end=" ")
    print()

*     *
*     *
*     *
*  *  *
* * * *
**   **
*     *

In [238]:
#print X pattern in  "*"
i=0
j=6
for row in range (7):
    for col in range(7):
        if col==row or row==4 and col==2 or row==5 and col==1 or row==6 and col==0 :
            print("*",end="")
        elif row==i and col==j:
            print("*",end="")
            i=i+1
            j=j-1
        else:
            print(end=" ")
    print()

*     *
 *   *
  * *
   *
  * *
 *   *
*     *

In [243]:
#print Y pattern in  "*"
for row in range (7):
    for col in range(7):
        if col==3 and row>2 or row==col and row<3 or row==0 and col==6 or row==1 and col==5 or row==2 and col==4  :
            print("*",end="")
        else:
            print(end=" ")
    print()

*     *
 *   *
  * *
   *
   *
   *
   *

In [278]:
#print Z pattern in  "*"
i=1
j=4
for row in range (0,6):
    
    for col in range(0,6):
        if row==0 or row==5:
            print("*",end="")
        elif row==i and col==j:
            print("*",end="")
            i=i+1
            j=j-1
        else:
            print(end=" ")
    print()

******
    *
   *
  *
 *
******

In [268]:
#print 0 pattern in  "*"
for row in range (7):
    for col in range(7):
        if (col==0 and row>0 and row<6) or (col==6 and row>0 and row<6) or (row==0 and col!=0 and col!=6) or (row==6 and col!=0 and col!=6)   : 
            print("*",end="")
        else:
            print(end=" ")
    print()

 *****
*     *
*     *
*     *
*     *
*     *
 *****

In [244]:
#print 1 pattern in  "*"
for row in range (8):
    for col in range(5):
        if col==2 or row==7 or col==1 and row==1 or col==0 and row== 2   :
            print("*",end="")
        else:
            print(end=" ")
    print()

  *
 **
* *
  *
  *
  *
  *
*****

In [255]:
#print 2 pattern in  "*"
for row in range (5):
    for col in range(9):
        if col==6 and row!=0  and row!=4 or row==0 and col!=0 and col<6 or row==4 and col>2 :
            print("*",end="")
        else:
            print(end=" ")
    print()

 *****
      *
      *
      *
   ******

In [262]:
#print 3 pattern in  "*"
for row in range (7):
    for col in range(5):
        if col==4 and row!=0 and row!=6 or row==0 and col!=4 or row==6 and col!=4 or row==3 and col>1 :
            print("*",end="")
        else:
            print(end=" ")
    print()

****
    *
    *
  ***
    *
    *
****

In [298]:
#print 4 pattern in  "*"
for row in range (7):
    for col in range(7):
        if col==3 and row==1 or col==2 and row==2 or row==3 and col==1 or  row==4 or col==4  :
            print("*",end="")
        else:
            print(end=" ")
    print()

    *
   **
  * *
 *  *
*******
    *
    *

In [294]:
#print 5 pattern in  "*"
for row in range (7):
    for col in range(5):
        if col==0 and row!=4 and row!=5 or row==0 or row==3 and col!=4 or  row==6 and col!=4 or col==4 and row>3 and row!=6 :
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*
*
****
    *
    *
****

In [291]:
#print 6 pattern in  "*"
for row in range (8):
    for col in range(6):
        if col==0 and row!=0 and row!=7 or row==0 and col!=5 and col!=0 or row==4 and col!=5 or row==7 and col!=5 and col!=0 or  row==5 and col==5 or row==6 and col==5  :
            print("*",end="")
        else:
            print(end=" ")
    print()

 ****
*
*
*
*****
*    *
*    *
 ****

In [325]:
#print 7 pattern in  "*"
for row in range (8):
    for col in range(7):
        if col==6 or row==0  :
            print("*",end="")
        else:
            print(end=" ")
    print()

*******
      *
      *
      *
      *
      *
      *
      *

In [279]:
#print 8 pattern in  "*"
for row in range (7):
    for col in range(7):
        if (col==0 and row>0 and row<6) or (col==6 and row>0 and row<6) or (row==0 and col!=0 and col!=6) or (row==6 and col!=0 and col!=6 or row==3)   : 
            print("*",end="")
        else:
            print(end=" ")
    print()

 *****
*     *
*     *
*******
*     *
*     *
 *****

In [277]:
#print 9 pattern in  "*"

for row in range (7):
    for col in range(7):
        if col==6 and row!=0  or row==0 and col!=6 and col!=0 or col==0 and row<3 and row!=0 and row!=0 or row==3 and col!=0 and col!=6:
            print("*",end="")
        else:
            print(end=" ")
    print()

 *****
*     *
*     *
 ******
      *
      *
      *

In [312]:
#print "a" pattern in  "*"
for row in range (7):
    for col in range(11):
        if col==0 and row!=0 and row<3 or row==0 and col!=0 and col<5 or col==5 and row!=0 and row<3 or col==6 and row ==3 or col==7 and row==4   or row==3 and col!=0 and col<5 :
            print("*",end="")
        else:
            print(end=" ")
    print()

 ****
*    *
*    *
 **** *
       *

In [314]:
#print "b" pattern in  "*"
for row in range (9):
    for col in range(5):
        if col==0 and row!=0 or row==5 and col!=4 or row==8 and col!=0 and col!=4 or col==4 and row!=5 and row!=8 and row>5:
            print("*",end="")
        else:
            print(end=" ")
    print()

*
*
*
*
****
*   *
*   *
****

In [315]:
#print "c" pattern in  "*"
for row in range (6):
    for col in range(5):
        if ((col==0 and row!=0 and row!=5) or col==5) or ((row==0 and col!=0) or (row==5 and col!=0)):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ****
*
*
*
*
 ****

In [322]:
#print "d" pattern in  "*"
for row in range (8):
    for col in range(5):
        if col==4  or row==4 and col!=0  or col==0 and row>4 and row<7 or row==7 and col!=0 and col!=4 :
            print("*",end="")
        else:
            print(end=" ")
    print()

    *
    *
    *
    *
 ****
*   *
*   *
 ****

In [338]:
#print "f" pattern in  "*"
for row in range (7):
    for col in range(7):
        if col==1 and row!=0  or row==0 and col!=0 and col!=1 or row==3 and col<3  :
            print("*",end="")
        else:
            print(end=" ")
    print()

  *****
 *
 *
***
 *
 *
 *

In [344]:
#print "g" pattern in  "*"
for row in range (8):
    for col in range(5):
        if col==4 and row!=0 and row!=7 or row==0 and col!=0 and col!=4 or row==3 and col!=0 or col==0 and row>0 and row<3 or row==7 and col>1 and col!=4 or col==1 and row>4 and row!=7:
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
*   *
*   *
 ****
    *
 *  *
 *  *
  **

In [347]:
#print "h" pattern in  "*"
for row in range (8):
    for col in range(7):
        if col==0 or row==4 and col!=6 and col!=1 or col==6 and row>4  :
            print("*",end="")
        else:
            print(end=" ")
    print()

*
*
*
*
* ****
*     *
*     *
*     *

In [349]:
#print "i" pattern in  "*"
for row in range (8):
    for col in range(7):
        if col==0 and row!=1  :
            print("*",end="")
        else:
            print(end=" ")
    print()

*

*
*
*
*
*
*

In [353]:
#print "j" pattern in  "*"
for row in range (9):
    for col in range(7):
        if col==6 and row!=8 and row!=1  or row==8 and col!=6  :
            print("*",end="")
        else:
            print(end=" ")
    print()

      *

      *
      *
      *
      *
      *
      *
******

In [354]:
#print "k" pattern in  "*"
i=8
for row in range (11):
    for col in range(9):
        if col==0 or (row==col+2 and col>1 and row>4)  :
            print("*",end="")
        elif row==i-col:
            print("*",end="")
            i=i-1
        else:
            print(end=" ")
    print()

*       *
*     *
*   *
* *
*
*  *
*   *
*    *
*     *
*      *
*       *

In [359]:
#print "l" pattern in  "*"
for row in range (9):
    for col in range(5):
        if col==4   :
            print("*",end="")
        else:
            print(end=" ")
    print()

    *
    *
    *
    *
    *
    *
    *
    *
    *

In [361]:
#print "m" pattern in  "*"
for row in range (6):
    for col in range(9):
        if col==0 and row!=0 or col==4 and row!=0 and row<3 or col==8 and row!=0 or row==0 and col!=0 and col!=4 and col!=8     :
            print("*",end="")
        else:
            print(end=" ")
    print()

 *** ***
*   *   *
*   *   *
*       *
*       *
*       *

In [364]:
#print "n" pattern in  "*"
for row in range (8):
    for col in range(9):
        if col==0 and row!=0 or col==8 and row!=0 or row==0 and col!=0 and col!=8   :
            print("*",end="")
        else:
            print(end=" ")
    print()

 *******
*       *
*       *
*       *
*       *
*       *
*       *
*       *

In [365]:
#print "o" pattern in  "*"
for row in range (7):
    for col in range(7):
        if (col==0 and row>0 and row<6) or (col==6 and row>0 and row<6) or (row==0 and col!=0 and col!=6) or (row==6 and col!=0 and col!=6) : 
            print("*",end="")
        else:
            print(end=" ")
    print()

 *****
*     *
*     *
*     *
*     *
*     *
 *****

In [366]:
#print "p" pattern in  "*"
for row in range (7):
    for col in range(7):
        if col==0 and row!=0 or col==6 and row!=0 and row!=3 and row<4 or row==3 and col!=6 and col!=1 or row==0 and col!=0 and col!=6 :
            print("*",end="")
        else:
            print(end=" ")
    print()

 *****
*     *
*     *
* ****
*
*
*

In [368]:
#print "q" pattern in  "*"
for row in range (10):
    for col in range(7):
        if col==0 and row!=0 and row<4 or col==4 and row!=0 or row==0 and col!=0 and col<4 or row==4 and col!=0 and col<4 or row==8 and col==5 or row==7 and col==6   :
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
*   *
*   *
*   *
 ****
    *
    *
    * *
    **
    *

In [369]:
#print "r" pattern in  "*"
for row in range (9):
    for col in range(4):
        if col==0 or  row==2 and col==1 or row==1 and col==2 or row==0 and col==3:
            print("*",end="")
        else:
            print(end=" ")
    print()

*  *
* *
**
*
*
*
*
*
*

In [370]:
#print "s" pattern in  "*"
for row in range (7):
    for col in range(7):
        if col==0 and  row!=0 and row<3 or col==6 and row!=6 and row>3 or row==0 and col!=0 and col!=6 or row==3 and col!=0 and col!=6 or row==6 and col!=0 and col!=6 :
            print("*",end="")
        else:
            print(end=" ")
    print()

 *****
*
*
 *****
      *
      *
 *****

In [371]:
#print "t" pattern in  "*"
for row in range (9):
    for col in range(5):
        if col==2 or row==2:
            print("*",end="")
        else:
            print(end=" ")
    print()

  *
  *
*****
  *
  *
  *
  *
  *
  *

In [392]:
#print "u" pattern in  "*"
for row in range (9):
    for col in range(9):
        if col==0 and row!=6 and row<6 or col==6 and row!=6 and row<6 or row==6 and col!=0 and col!=6 and col!=8 or col==8 and row==7  :
            print("*",end="")
        else:
            print(end=" ")
    print()

*     *
*     *
*     *
*     *
*     *
*     *
 ***** *
        *

In [393]:
#print "v" pattern in  "*"
i=0
j=12
for row in range (7):
    for col in range(13):
        if (row==col):
            print("*",end="")
        elif row==i and col==j:
            print("*",end='')
            i=i+1
            j=j-1
        else:
            print(end=" ")
    print()

*           *
 *         *
  *       *
   *     *
    *   *
     * *
      *

In [395]:
#print "w" pattern in  "*"
for row in range (9):
    for col in range(10):
        if col==0 and row!=8 or col==9 and row!=8 or row==5 and col==4 or row==6 and col==4 or row==7 and col==4 or row==8 and col!=0 and col!=4 and col!=9:
            print("*",end="")
        else:
            print(end=" ")
    print()

*        *
*        *
*        *
*        *
*        *
*   *    *
*   *    *
*   *    *
 *** ****

In [396]:
#print "x" pattern in  "*"
i=0
j=6
for row in range (7):
    for col in range(7):
        if col==row or row==4 and col==2 or row==5 and col==1 or row==6 and col==0 :
            print("*",end="")
        elif row==i and col==j:
            print("*",end="")
            i=i+1
            j=j-1
        else:
            print(end=" ")
    print()

*     *
 *   *
  * *
   *
  * *
 *   *
*     *

In [397]:
#print "y" pattern in  "*"
for row in range (8):
    for col in range(5):
        if col==4 or row==0 and col==0 or row==1 and col==1 or row==2 and col==2 or row==3 and col==3:
            print("*",end="")
        else:
            print(end=" ")
    print()

*   *
 *  *
  * *
   **
    *
    *
    *
    *

In [399]:
#print "z" pattern in  "*"
for row in range (5):
    for col in range(9):
        if col==6 and row!=0  and row!=4 or row==0 and col!=0 and col<6 or row==4 and col>2 :
            print("*",end="")
        else:
            print(end=" ")
    print()

 *****
      *
      *
      *
   ******